/**
 * @file CountdownTimer.module.css
 * @description CountdownTimer.tsx 스타일
 * @author kamiz
 * @created 2026-09-24
 * @modified 2026-09-24
 */

.timer {
  font-variant-numeric: tabular-nums;
  font-size: var(--text-lg);
  font-weight: 700;
  color: var(--color-accent);
  margin: 0;
}
